ol {
  list-style: none;
  padding-inline-start: 0;

  padding-left: 25%;
  padding-right: 25%;
  min-width: min-content;
}

li {
  margin: 1em;
}

.item-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  cursor: pointer;

  & > * {
    margin: 1em;
  }
}
