form {
  display: grid;
  grid-template-columns: 1fr 20em 20em;
  grid-template-rows:auto 10em auto;

   & > * {
     margin: 1em;
   }

  width: 800px;
}

.error-msg {
  font-size: 12px;
  align-content: center;
}

button {
  margin: 1em;
}

.submit-button-container {
  display: flex;
  flex-direction: row;
}
