<app-common title="ToDo作成">
  <form
    id="form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <label for="title">Title</label>
    <input id="title" type="text" formControlName="title">
    <label for="body">Body</label>
    <textarea id="body" type="text" formControlName="body"></textarea>
    <label>Category</label>
    <select formControlName="category">
      @for (option of state().categoryOptions; track option.id) {
        <option value="{{option.id}}">{{ option.name }}</option>
      }
    </select>
  </form>
  <button type="submit" form="form">送信</button>
</app-common>
