<app-common title="ToDo一覧">
  <div class="todo-list-container">
    <div class="button-container">
      <button (click)="createButtonClicked.emit()">作成</button>
    </div>
    <ol>
      <!-- TODO ToDoをカテゴリ別に表示する   -->
      @for (todo of state(); track todo.id) {
        <li>
          <div class="item-container" [ngStyle]="{'background-color': todo.category.color}">
            <div class="metadata-container">
              <div class="todo-title">{{ todo.title }}</div>
              <div class="todo-category-name">{{ todo.category.name }}</div>
              <div class="todo-status">{{ todo.status }}</div>
            </div>
            <details class="todo-body">
              <summary></summary>
              {{ todo.body }}
            </details>
          </div>
        </li>
      }
    </ol>
  </div>
</app-common>
