ol {
    list-style: none;
}

.todo-item-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 50px;
}

#createToDoDialog[open] {
    width: 500px;
    height: 500px;
}

input[type="text"] {
    width: 20rem;
}

textarea {
    width: 20rem;
    height: 10rem;
}

.multiline {
    white-space: pre-wrap;
}